<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
    </script>
</head>
<body>
<h3>Изберете предмети кои сакате да ги предавате</h3>

<div>
    <form id="filter-form" th:action="@{'/izberiPredmet'}" >
        <label for="ime"></label>
        <input id="ime" type="text" placeholder="Пребарувај предмети..." name="ime"/>
        <button id="filter" type="submit">Пребарај</button>
    </form>


    <form th:action="@{'/nastavnici/predavaPredmet'}" th:method="post">

    <ul>

       <li style="list-style-type: none" th:each="p: ${predmeti}">

           <input type="radio" name="predmetId" th:value="${p.getId()}">
           <th:block id="courseText" th:text="${p.ime}"/>
       </li>

    </ul>

        <p>Внесете опис на предметот...</p>
        <input type="text" name="tema" style="height: 50px">


        <input type="submit" value="Продолжи">

    </form>



    <div>
        <a href="/izberiPredmet/add">
            Внеси нов предмет
        </a>
        <h4><i>*Доколку предметот го нема во листат, имате можност да го додадете</i> </h4>
    </div>



</div>
</body>
</html>