


<style type = "text/css">
    @import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

    body {
        width: 800px;
        margin: auto;
    }
    table {
        width:100%;
    }
    table, td, th {
        border: 1px solid black;
        padding:3px 2px;
    }
    section {
        float: left;
        margin: 0 1.5%;
        width: 63%;
    }
    aside {
        float: right;
        margin: 0 1.5%;
        width: 30%;
    }
    li:nth-child(even){
        background-color: lightblue;

    }
    li:nth-child(odd){
        background-color: whitesmoke;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: lightblue;
        border: none;
        color: black;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    *{
        background-color: whitesmoke;
        font-family: 'Zen Antique', serif;
    }
    a:link, a:visited {
        background-color: lightblue;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: cornflowerblue;
    }

    input[type=text]{
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input[type=text]:focus{
        background-color: lightblue;
    }
    li{
        position: relative;
        left: -33px;
    }
    #search{
        background-color: whitesmoke;
        border-style: solid;
        border-color: lightblue;
        color: black;
        padding: 12px 20px;
        text-decoration: none;
        margin: 8px 0;
        cursor: pointer;
    }
    #navbar li{
        display: inline-block;
    }
</style>


<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading" style="text-align: center">Најава</h2>
        <p>
            <label for="username" class="sr-only">Email</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="email" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="password"
                   required="">
        </p>

        <div th:if="${haserror!=null}">
            <div th:text="${error}" class="text-danger"></div>
        </div>


        <button id="submit" class="btn btn-block btn-light" type="submit">Најави се</button>
    </form>

    <a href="/register" >Регистрирај се</a>
</div>




















