<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <h1 th:if="${hasErrors}" th:text="${errors}"></h1>
</div>

<div class="container">
  <form  th:method="post" th:action="@{'/register/registrirajSe'}">
    <h2>Register</h2>

    <p>
      <label for="ime" class="sr-only">Име</label>
      <input type="text" id="ime" name="ime" placeholder="Внесете име" required="" autofocus="">
    </p>

    <p>
      <label for="prezime">Презиме</label>
      <input type="text" id="prezime" name="prezime" placeholder="Внесете презиме" required="" autofocus="">
    </p>

    <p>
      <label for="email" >Email</label>
      <input type="text" id="email" name="email"  placeholder="Внесете e-mail" required="" autofocus="">
    </p>

    <p>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required="" autofocus="">
    </p>
    <p>
      <label for="repeatPassword" >Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat password" required="" autofocus="">
    </p>

    <p>
      <label >Избери една опција*</label>
      <input type="radio" name="role" th:value="ROLE_NASTAVNIK" th:text="Наставник">
      <input type="radio" name="role" th:value="ROLE_UCENIK" th:text="Ученик">
    </p>

    <p>
      <label for="telBroj" >Телефонски број</label>
      <input type="number" id="telBroj" name="telBroj"  placeholder="Телефонски број" required="" autofocus="">
    </p>

    <p>
      <label for="opis" >Опис</label>
      <label><input type="text" maxlength="500" id="opis" name="opis" placeholder="Максимум 500 карактери" required="" autofocus=""></label>
    </p>

<!--    <p>-->
<!--      <label><input type="checkbox" id="zapomnime" name="zapomnime" class="form-control" placeholder="zapomnime" required="" autofocus="">Запомни ме</label>-->
<!--    </p>-->

    <button  type="submit">Регистрирај се</button>
  </form>
  <a href="/login">Веќе си член? Најави се тука!</a>
</div>


</body>
</html>