<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Евиденција на плаќање</title>
</head>
<body>

<div></div>


<table style="table-border-color-dark: black">
    <th>Број на часови по договор</th>
    <th>Број на слушани часови</th>
    <th>Број на платени часови</th>
    <th>Цена по час</th>
    <th>Часови по договор</th>
    <th>Вкупно за плаќање</th>
    <th>Должи</th>

    <ul>

        <li style="list-style-type: none" th:each="">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </li>
    </ul>
</table>

</body>
</html>